/*

td {
    border: 2px solid green;
    border-collapse: collapse;
    width: 10%;
}

a cor não é definida pra esse conjunto especifico, pega do conjunto Varas, porém nao sei pq, referência de css está correta e linkada

*/